<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>My Fox</title>
    <style>
        body {
            height: 297mm;
            width: 210mm;
            margin-left: auto;
            margin-right: auto;
        }
    </style>
</head>
<body>
<p> * Information</p>
<img src="https://raw.githubusercontent.com/greenfox-academy/teaching-materials/master/project/programmer-fox-club/assets/greenfox.png?token=Ae2Jc8CULIxpQghSrjY15nGiI_rcRlTbks5a0HGZwA%3D%3D">

<p th:text="'This is ' + ${newFox.getName()} + ' it eats ' + ${newFox.getFood()} + ' it drinks ' + ${newFox.getDrink()}"></p>
<h1>Known tricks</h1>
<ul>
    <li>write HTML</li>
    <li>code in Java</li>
</ul>
</body>
</html>