<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Reddit</title>
</head>
<body>
    <a th:href="@{'/submit'}">Submit new post</a>
    <h2>Trending posts</h2>
    <table>
        <tr th:each="post: ${posts}">
            <td th:text="${post.getRating()}"></td>
            <td><a th:href="'/' + ${post.getId()} + '/upVote'" type="button" value="+">+</a></td>
            <td><a th:href="'/' + ${post.getId()} + '/downVote'" type="button" value="-">-</a></td>
            <td><a th:href="${post.getUrl()}" th:text="${post.getTitle()}"></a></td>
        </tr>
    </table>
</body>
</html>