<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <title>Title</title>
    <style>
        h1, p, ul, table {
            font-family: Georgia;
        }
        h1{
            font-size: 50px;
        }
        p, ul, table {
            font-size: 18px;
        }
    </style>
</head>
<body>
    <div class="page-header">
        <h1 th:text="'TODOS FOR TODAY: '"></h1>
    </div>
    <div>
        <form action="#" th:action="@{/todo/list/search}" method="get">
            <p><input type="text" id="todoName" name="searchInput" />
                <input type="submit" class="btn btn-primary" value="Search"></p>
        </form>
        <p>You can see which todos are "active", "urgent" or you can search by Todo title</p>
    </div>
    <div>
        <ul class="nav nav-pills">
            <li><a th:href="@{'/todo/add'}">Add new todo</a></li>
            <li><a th:href="@{'/todo/list'}">Show the whole list</a></li>
        </ul>
    </div>
    <div class="row">
        <div class="col-md-6">
            <table class="table">
                <thead>
                <tr>
                    <th>ID</th>
                    <th>ACTION</th>
                    <th>DONE</th>
                    <th>URGENT</th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="todo: ${todos}">
                    <td th:text="${todo.getId()}"></td>
                    <td th:text="${todo.getTitle()}"></td>
                    <td th:text="${todo.isDone()}"></td>
                    <td th:text="${todo.isUrgent()}"></td>
                    <td><a th:href="@{/{id}/delete (id = ${todo.getId()})}">delete</a></td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
    <script src="webjars/jquery/1.11.1/jquery.min.js"></script>
    <script src="webjars/bootstrap/3.3.7-1/js/bootstrap.min.js"></script>
</body>
</html>