<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8"/>
    <title>Title</title>
    <style>
        td {
            border: 1px solid darkgrey;
        }
        td {
            padding: 5px;
            text-align: left;
        }
        th {
            padding: 5px;
            text-align: center;
        }
    </style>
</head>
<body>
    <h1 th:text="'TODOS FOR TODAY: '"></h1>
    <p><a th:href="@{'/todo/add'}">Add new todo</a></p>
    <table>
        <tr>
            <th>ID</th>
            <th>ACTION</th>
            <th>DONE</th>
            <th>URGENT</th>
        </tr>
        <tr th:each="todo: ${todos}">
            <td th:text="${todo.getId()}"></td>
            <td th:text="${todo.getTitle()}"></td>
            <td th:text="${todo.isDone()}"></td>
            <td th:text="${todo.isUrgent()}"></td>
            <td><a th:href="@{/{id}/delete (id = ${todo.getId()})}">delete</a></td>
        </tr>
    </table>
</body>
</html>