<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Thymeleaf Exercise #</title>
    <link rel="stylesheet" th:href="@{/style.css}" />
    <meta charset="utf-8" />
    <style>
        table, th, td {
            border: 1px solid black;
        }
        th, td {
            padding: 5px;
            text-align: left;
        }
        .king {
            color: gold;
        }
        .notking {
            color: black;
        }
    </style>
</head>
<body>
    <table style="width:50%">
        <tr>
            <th>Index</th>
            <th>Name</th>
            <th>Balance</th>
            <th>Currency</th>
            <th>AnimalType</th>
            <th>Is king?</th>
        </tr>
        <tr th:each="bankAccount : ${accounts}">
            <td th:text="${bankAccountStat.index} + 1" />
            <td th:text="${bankAccount.getName()}" />
            <td th:text="${#numbers.formatDecimal(bankAccount.getBalance(), 1, 2, 'POINT')}" />
            <td th:text="${bankAccount.getCurrency()}" />
            <td th:text="${bankAccount.getAnimalType()}" />
            <td th:class="${bankAccount.getKing()} ? king : notking" th:text="${bankAccount.getKing()}" />
        </tr>
    </table>
</body>
</html>

